.select {
  position: relative;
  width: 100%;
  color: #31352B;

  &__btn {
    padding: 10px 15px;
    text-align-last: left;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      border-color: #3b82f6;
      color: #3b82f6;
    }
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    
    &_active {
      transform: translate(0, -50%) rotate(180deg);
    }
  }

  &__list {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    padding: 15px;
    max-height: 140px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    z-index: 1;
    overflow: auto;
  }

  &__option {
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    text-align: left;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #3b82f6;
    }
  }
}